<style>
.button {
    background-color: #70af94;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>

<h1>IP管理小程序</h1>
<h6>遵循开放，自觉，节约的原则</h6>
<a href="./index">已登记使用的ip地址</a>
<a href="./occupy">未登记被占用的ip地址</a>
<a href="./available">可用的ip地址</a>

<br />
<br />

{% for ip in available_list %}
    <a href="#" class="button">{{ ip.ipaddr }}</a>
{% endfor %}