<style>
.button {
    background-color: #CD5555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>

<h1>IP管理小程序</h1>
<h6>遵循开放，节约的原则</h6>
<a href="./index">已登记使用的ip地址</a>
<a href="./occupy">未登记被占用的ip地址</a>
<a href="./available">可用的ip地址</a>
<a href="./look">查询我已经使用的ip</a>

<br />
<br />

{% for ip in occupy_list %}
    <a href="./register?id={{ ip.id }}" class="button">{{ ip.ipaddr }}</a>
{% endfor %}